<ion-header>
  <ion-toolbar color='primary'>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
     
        <ion-button (click)="onClickAdd()">
 
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
  
      </ion-buttons>
      <ion-title>General Cobranzas List</ion-title>
  </ion-toolbar>

  <ion-item>
    <ion-label>Oficina</ion-label>
    <ion-select [(ngModel)] ="mtrOficinaSelected" (ionChange)="onChangeOfic($event)" >
      <ion-select-option *ngFor="let item of oficinas" [value] = "item.codigo">
        {{item.descripcion}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <br>
  <ion-item>
    <ion-label>Vendedor</ion-label>
    <ion-select [(ngModel)] ="mtrVendedorSelected" (ionChange)="onChangeVend($event)" >
      <ion-select-option *ngFor="let item of mtrVendedoresDto" [value] = "item.codigo">
        {{item.nombre}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <br>
  <ion-item>
  
    <ion-searchbar (ionChange)="onChangeRC($event)" placeholder="RC" debounce=800></ion-searchbar>
  
  </ion-item>
</ion-header>

<ion-content>

<!-- List of Text Items -->

<!--class="scroll-content"-->
<ion-list>

<ion-item-sliding *ngFor="let item of cobGeneralCobranzaDto">
  <ion-item  >
    <ion-label>
      <h3 text-capitalize> {{ item.idCliente }}-{{ item.nombreCliente }}</h3>
      <p>{{ item.montoTransaccionString }}</p>
      <p>Rc:{{ item.documento }} Fecha:{{ item.fechaTransaccionString }}</p>
      <p>Vendedor:{{ item.nombreVendedor}} </p>
      
   </ion-label>
  </ion-item>
  <ion-item-options side="start">
    <ion-item-option color="primary" (click)="onClickDetail(item)" >

      <ion-icon slot="icon-only" name="create-outline"></ion-icon>
    </ion-item-option>


  </ion-item-options>
  <ion-item-options side="end">
    <ion-item-option color="warning" (click)="onClickDetailAdjunto(item)">

      <ion-icon slot="icon-only" name="cloud-download-outline"></ion-icon>
    </ion-item-option>
   

  </ion-item-options>
</ion-item-sliding>

 


  <ion-infinite-scroll threshold='15%' (ionInfinite)=loadMore($event)>
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Cargando...">

    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-list>

</ion-content>
