<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
<form #formulario="ngForm" (ngSubmit)= "onSubmitLogin()"> 
  <ion-item>
    <ion-label position="floating">Usuario</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.User" name="email" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" > Contraseña</ion-label>
    <ion-input [(ngModel)] = "usuario.Password" type="password" name="password" required></ion-input>
  </ion-item>

</form>

<br>
<ion-button (click)="onSubmitLogin()" expand="full" [disabled]="formulario.invalid">Entrar</ion-button>
<br>
</ion-content>
