<ion-header no-border>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button defaultHref="/" text=""></ion-back-button>

    </ion-buttons>

   


    <ion-title text-capitalize>Grabacion Cobranzas </ion-title>
  </ion-toolbar>
  
    

</ion-header>

<ion-content>

</ion-content>
