<ion-header>
    <ion-toolbar color='primary'>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Consulta de Adjuntos</ion-title>
    </ion-toolbar>

    <ion-item>
        <ion-label>
            <h3 text-capitalize> {{ itemcobGeneralCobranzaDto.idCliente }} - {{ itemcobGeneralCobranzaDto.nombreCliente }}</h3>            
            <p>Rc: {{ itemcobGeneralCobranzaDto.documento }} Fecha: {{ itemcobGeneralCobranzaDto.fechaTransaccionString }}</p>
            <p>Monto: {{ itemcobGeneralCobranzaDto.montoTransaccionString }}</p>
            <p>Vendedor: {{ itemcobGeneralCobranzaDto.nombreVendedor}} </p>
        </ion-label>
    </ion-item>
    
</ion-header>

<ion-content>

    <app-uploader></app-uploader>

    <ion-list>

        <ion-grid>
            <ion-row>
                <ion-col size="3">
                    Documento
                </ion-col> 
                <ion-col size="9">
                   
                   blank
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-item *ngFor="let adjunto of adjuntos">
            <ion-grid>
                <ion-row>
                    <ion-col size="3">
                        <ion-label>
                            <h3 text-capitalize> Documento: {{ adjunto.descripcionTipoDocumento }} </h3>
                            <p>Fecha de Creación: {{ adjunto.fechaCreacion | date }} </p>
                            <p>Nombre del Adjunto: {{ adjunto.nombreArchivo }}</p>
                        </ion-label>
                    </ion-col>
                    <ion-col size="9">
                        <a target="_blank" href="{{ adjunto.link }}">pdf</a> 
                        &nbsp;
                    </ion-col>
                </ion-row>                             
            </ion-grid> 

        </ion-item>

    </ion-list>

</ion-content>